$primary-white: #fff;
$primary-gray: #ece9ed;
$primary-black: #2b2b2b;

$primary-purple: #7b51b3;

$dark-purple: #443365;
$light-purple: #8a71ab;

$text-purple: #675f69;

$primary-blue:#3551b3;

/*---- FONT IMPORTS ----*/
@font-face {
  font-family: "Deansgate";
  src: url('../font/Deansgate.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
